<?xml version="1.0" encoding="utf-8" ?>

<phpunit stopOnFailure="false">
  <testsuites>
    <testsuite name="Authentication Webservice Endpoints">
      <file>REPLACEME/tests/auth/validator/AuthValidatorTest.php</file>
      <file>REPLACEME/tests/auth/lister/AuthListerTest.php</file>
    </testsuite>
    <testsuite name="Datasets Webservice Endpoints">
      <file>REPLACEME/tests/dataset/create/DatasetCreateTest.php</file>
      <file>REPLACEME/tests/dataset/delete/DatasetDeleteTest.php</file>
      <file>REPLACEME/tests/dataset/update/DatasetUpdateTest.php</file>
      <file>REPLACEME/tests/dataset/read/DatasetReadTest.php</file>
    </testsuite>
    <testsuite name="Ontologies Webservice Endpoints">
	  <!-- Only enable these two tests if you are running the DEV version of structWSF ->
      <!--file>REPLACEME/tests/ontology/create/OntologyCreateTest.php</file>
      <file>REPLACEME/tests/ontology/delete/OntologyDeleteTest.php</file-->
      <file>REPLACEME/tests/ontology/read/OntologyReadTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
