<?xml version="1.0" encoding="utf-8" ?>

<phpunit stopOnFailure="false">
  <testsuites>
    <testsuite name="WebServices">
      <file>REPLACEME/tests/ontology/read/OntologyReadTest.php</file>
      <file>REPLACEME/tests/dataset/read/DatasetReadTest.php</file>
      <file>REPLACEME/tests/dataset/delete/DatasetDeleteTest.php</file>
      <file>REPLACEME/tests/dataset/create/DatasetCreateTest.php</file>
      <file>REPLACEME/tests/auth/validator/AuthValidatorTest.php</file>
      <file>REPLACEME/tests/dataset/update/DatasetUpdateTest.php</file>
      <file>REPLACEME/tests/auth/lister/AuthListerTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
